body{
    font-family: Arial;
    margin: 0%;
    background-color: rgb(105, 102, 102);
}
h1{
    text-align: center;
    font-size: 25px;
}
.Cadastro{
    background-color: aliceblue;
    margin: 2% auto;
    width: 45%;
    padding-top: 50px;
}
#Formulario{
    text-align: center;
    margin: 3% auto;
    width: 45%;
}
input{
    padding: 4%;
    font-size: 15px;
}
#seletor{
    width: 89%;
    padding: 4%;
}
.NomeSob{
    width: 35%;
}
.emailsenha{
    width: 80%;
}
#botao{
    padding: 4%;
    width: 89%;
    background-color: rgb(74, 166, 252);
    margin-bottom: 20px;
}