body{
    background-color: rgb(255, 250, 250);
    color:  rgb(10, 10, 10);
    font-family: Arial;
    margin: 0%;
}

header{
    background-color:rgb(40, 120, 185);
    padding-top: 20px;
    padding-bottom: 15px;
}
header ul{
    display: inline-block;
    width: 90%;
}
header ul li{
    display: inline;
    margin-left: 17%;
    list-style-type: none;
}
header a{
    color:black;
    text-decoration: none;
}

main{
    margin-bottom: 60px;
}

    table,th,td{
        border: 1px solid rgb(12, 12, 12);
        border-collapse: collapse;
        padding: 2px 6px 2px 6px;
    }
    table{
        width: 60%; 
        
        margin: 0 auto;

    }
    th,td{
        text-align: left;
        background-color:rgb(245, 245, 247) ;
    }

    td{
        background-color:#fffcfc;
    }

    tr:nth-child(odd) td{
        background-color: rgb(210, 210, 221);
    }

    h1,h2,h3{
        text-align: center;
        font-size: 23px;
    }

    footer{
        background-color: black;
        padding-top: 30px;
        padding-bottom: 100px;
    }
    footer p{
        color: white;
        text-align: center;
    }
    .linhaFooter{
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: solid 1px rgba(255, 255, 255,.1);
        border-bottom: solid 1px rgba(255, 255, 255,.1);
    }
    footer ul{
        margin: 0 auto;
        width: 35%;
    }
    footer li{
        display: inline;
        margin-left: 4%;
        list-style-type: none;
    }
    footer a{
        color: white;
        text-decoration: none;
    }
   
    abbr{ 
        text-decoration: solid;
        border-color: black;
        border-bottom: 2px solid; 
    }

    #RedesSoci{
        margin-top: 2%;
    }
    #Twitter{
        display: inline-block;
        filter: invert(100%);
        width: 30px;
        height: 30px;
        margin-left: 48%;
    }
    #Instagram{
        display: inline-block;
        filter: invert(100%);
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
