body{
    font-family: Arial;
    margin: 0;
}
header{
    background-color: rgb(42, 91, 170);
    padding-top: 20px;
    padding-bottom: 20px;

}
header ul{
    display: inline-block;
    width: 90%;
}
header ul li{
    display: inline;
    margin-left: 17%;
    list-style-type: none;
}
header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
main{
    margin-bottom: 5%;
} 
main h1{
    text-align: center;
}

.ImagensNoticias{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
}

#JamesHardem{
    width: 100%;
    height: 600px;
    left: 0px;
    border-radius: 6px;
}
#PositionJH{
    width: 49.5%;
    height: 600px;
    margin: 0%
}
#DurantxRussel{
    /*width: 660px;*/
    width: 100%;
    height: 290px;
    position: absolute;
    right: 0%;
    border-radius: 6px;
}
#PositionKD{
    width: 49.5%;
    margin: 0%;
    height: 290px;
    position: absolute;
    right: 0%;
    top: 0%;
}
#LebronxBrookes{
    width: 100%;
    height: 290px;
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 6px;
}
#PositionLB{
    width: 49.5%;
    margin: 0%;
    height: 290px;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
#NoticiaJamesH{
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 1%;
    left: 0%;
    text-align: start;
    text-shadow: 2px 4px 5px #000000;
}

#NoticiaJamesH h2{
    font-size: 40px;
    margin: 0%;
}
#NoticiaKevin{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 68%;
    text-shadow: 2px 4px 5px #000000;
}
#NoticiaKevin h2{
    font-size: 40px;
    margin: 0%;
}
#NoticiaLB{
    position: absolute;
    color: aliceblue;
    bottom: 0%;
    text-shadow: 2px 4px 5px #000000;
}
#NoticiaLB h2{
    font-size: 40px;
    margin: 0%;
}
#NoticSec{
    width: 55%;
    margin: 0 auto;
}
#NoticiaUm{
    width: 100%;
    height: 230px;
    font-size: 16px;
    display: flex;
}

.conteudoSec h2{
    color: #574fc7;
    padding-left: 5%;
    height: 50px;
}
.conteudoSec p{
    padding-left: 5%;
}
#NoticiaUm a{
    text-decoration: none;
}
#NoticiaUm img{
    height: 90%;
    border-radius: 6px;
    padding-left: 0%;
}
#NoticiaUm p{
    color: gray;
    right: 5%;
    top: 50%;
}
#NoticiaDois{
    width: 100%;
    height: 230px;
    font-size: 16px;
    display: flex;
    border-top: 1px solid rgb(128, 128, 128);
}
#NoticiaDois a{
    text-decoration: none;
}
#NoticiaDois img{
    margin-top: 8%;
    border-radius: 6px;
    width: 310px;
    height: 90%;
    border-radius: 6px;
    padding-left: 0%;
}
#NoticiaDois h2{
    height: 70px;
}
#NoticiaDois p{
    color: gray;
    right: 5%;
    top: 50%;
}

footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer p{
    color: white;
    text-align: center;
}
.linhaFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px rgba(255, 255, 255,.1);
    border-bottom: solid 1px rgba(255, 255, 255,.1);
}
footer ul{
    margin: 0 auto;
    width: 35%;
}
footer li{
    display: inline;
    margin-left: 4%;
    list-style-type: none;
}
footer a{
    color: white;
    text-decoration: none;
}
#RedesSoci{
    margin-top: 2%;
}
#Twitter{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 48%;
}
#Instagram{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 10px;
}