body{
    background-color: rgb(255, 250, 250);
    color:  rgb(10, 10, 10);
    font-family: Arial;
    margin: 0%;
}


header{
    background-color:rgb(42, 91, 170);
    padding-top: 20px;
    padding-bottom: 15px;
}
header ul{
    display: inline-block;
    width: 90%;
}
header ul li{
    display: inline;
    margin-left: 17%;
    list-style-type: none;
}
header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}


main{
    margin-bottom: 60px;
}
#Jogadores{
    width: 60%;
    height: 80px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    margin-bottom: 30px;
}
#Jogadores h3{
    font-size: 15px;
    color: gray;
    margin: 0;
    padding-left: 1%;
    width: 0px;
    margin-bottom: 5px;
}
#Jogadores img{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    border: 1px solid gray;
    margin-left: 6px;
}
.Lider{
    border-right: 1px solid black;   
    width: 100%;
}


table,th,td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 2px 6px 2px 6px;
}
table{
    width: 60%;
    margin: 0 auto;
}
th,td{
    text-align: left;
    background-color:rgb(255, 255, 255) ;
    height: 40px;
}
td{
    background-color:#fffcfc;
}
tr:nth-child(odd) td{
    background-color: rgb(241, 241, 245);
    
}
abbr{
    text-decoration: solid;
    border-color: black;
    border-bottom: 2px solid;
}
h4{
    margin: 0;
    font-size: 12px;
    color: gray;
}
.Lider p{
    font-size: 25px;
    margin: 0;
    color: black;
}
#LiderPontos{
    position: absolute;
    color: gray;
    top: 23%;
    left: 24%;
}
#LiderRebotes{
    position: absolute;
    color: gray;
    top: 23%;
    left: 36%;
}
#LiderAss{
    position: absolute;
    color: gray;
    top: 23%;
    left: 48%;
}
#LiderRoubos{
    position: absolute;
    color: gray;
    top: 23%;
    left: 60%;
}
#LiderTocos{
    position: absolute;
    color: gray;
    top: 23%;
    left: 72%;
}
h1,h2,h3{
    text-align: center;
    font-size: 23px;
}
footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer p{
    color: white;
    text-align: center;
}
.linhaFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px rgba(255, 255, 255,.1);
    border-bottom: solid 1px rgba(255, 255, 255,.1);
}
footer ul{
    margin: 0 auto;
    width: 35%;
}
footer li{
    display: inline;
    margin-left: 4%;
    list-style-type: none;
}
footer a{
    color: white;
    text-decoration: none;
}
#RedesSoci{
    margin-top: 2%;
}
#Twitter{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 48%;
}
#Instagram{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

