body{
    margin: center ;
    background-color: #00a2ff;
    color:  rgb(255, 255, 255);
    font-family: Arial;
    margin: 0%;
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
}

.ImagensTimes{
    margin: 0 auto;
    width: 85%;
  
}
.times{
    margin-bottom: 1%;
    margin-left: 10%;
    border-radius: 500px;
    border: 1px solid rgb(255, 255, 255) ;
    width: 120px;
    height: 120px;
}

footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 100px;
}
footer p{
    color: white;
    text-align: center;
}
.linhaFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px rgba(255, 255, 255,.1);
    border-bottom: solid 1px rgba(255, 255, 255,.1);
}
footer ul{
    margin: 0 auto;
    width: 35%;
}
footer li{
    display: inline;
    margin-left: 4%;
    list-style-type: none;
}
footer a{
    color: white;
    text-decoration: none;
}

abbr{
    text-decoration: solid;
    border-color: black;
    border-bottom: 2px solid;
}
#RedesSoci{
    margin-top: 2%;
}
#Twitter{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 48%;
}
#Instagram{
    display: inline-block;
    filter: invert(100%);
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.Pontos{
    margin-bottom: 1%;
    margin-left: 10%;
    border-radius: 500px;
    width: 120px;
    height: 120px;
    
}
header{
    background-color: rgb(42, 91, 170);
    padding-top: 20px;
    padding-bottom: 15px;
}
header ul{
    display: inline-block;
    width: 90%;
}
header ul li{
    display: inline;
    margin-left: 17%;
    list-style-type: none;
}
header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

  
