body{
    background-color: aqua;
    margin: 0%;
    padding-bottom: 0%;
    font-family: Arial;
}
.Imagem{
    margin-bottom: -4px;
}
#quadrado{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    right: 25%;
}
header{
    background-color: rgb(8, 199, 247);
    padding-top: 20px;
    padding-bottom: 15px;
}
header li{
    display: inline;
    margin-left: 17%;
    list-style-type: none;
    
}
header a{
    color:black;
    text-decoration: none;
}
footer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
}
footer p{
    color: white;
    text-align: center;
}
.linhaFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px rgba(255, 255, 255,.1);
    border-bottom: solid 1px rgba(255, 255, 255,.1);
}
footer ul{
    margin: 0 auto;
    width: 40%;
}
footer li{
    display: inline;
    margin-left: 4%;
    list-style-type: none;
}
footer a{
    color: white;
    text-decoration: none;
}
